.footer {
  margin-top: 80px;
  background-color: white;
}
.footer .container .row.rowf-1 {
  position: relative;
  padding: 40px 0px;
}
.footer .container .row.rowf-1 .col-3 .f-part1 {
  display: flex;
  align-items: center;
}
.footer .container .row.rowf-1 .col-3 .f-part1 img {
  width: 45px;
  height: 45px;
}
.footer .container .row.rowf-1 .col-3 .f-part1 .f-letter {
  margin-left: 20px;
}
.footer .container .row.rowf-1 .col-3 .f-part1 .f-letter p:nth-child(1) {
  font-weight: 600;
}
.footer .container .row.rowf-1 .col-3 .f-part1 .f-letter p:nth-child(2) {
  color: #8A7877;
}
.footer .container .row.rowf-1:after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 0.2px;
  width: 100%;
  background-color: rgba(173, 171, 171, 0.352);
}
.footer .container .rowf-2 {
  position: relative;
  padding: 40px 0px;
}
.footer .container .rowf-2 .col-3 .f-letter2 p:first-child {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li i {
  color: #8A7877 !important;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li a {
  color: #8A7877;
  position: relative;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li a:after {
  content: "";
  position: absolute;
  background-color: #3577F0;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li a:hover::after {
  width: 100%;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li:nth-child(2) {
  margin: 10px 0px;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li:nth-child(3) {
  margin-bottom: 30px;
}
.footer .container .rowf-2 .col-3 .f-letter2 ul li:last-child {
  margin-top: 10px;
}
.footer .container .rowf-2 .col-3 .f-letter3 p:first-child {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer .container .rowf-2 .col-3 .f-letter3 p:nth-child(2) {
  color: #8A7877;
  font-size: 14px;
  margin-bottom: 25px;
}
.footer .container .rowf-2 .col-3 .f-letter3 ul li a {
  color: #8A7877;
  position: relative;
}
.footer .container .rowf-2 .col-3 .f-letter3 ul li a:after {
  content: "";
  position: absolute;
  background-color: #3577F0;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.footer .container .rowf-2 .col-3 .f-letter3 ul li a:hover::after {
  width: 100%;
}
.footer .container .rowf-2 .col-3 .f-letter3 ul li:nth-child(n+1) {
  margin-top: 14px;
}
.footer .container .rowf-2 .col-3 .f-letter3 ul li a {
  color: #8A7877;
}
.footer .container .rowf-2 .col-3 .f-img .row {
  display: flex;
}
.footer .container .rowf-2 .col-3 .f-img .row .col-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .container .rowf-2:after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 0.2px;
  width: 100%;
  background-color: rgba(173, 171, 171, 0.352);
}
.footer .container .rowf-3 {
  padding: 25px 0px;
}
.footer .container .rowf-3 .col-4 .f-social ul {
  display: flex;
  gap: 15px;
}
.footer .container .rowf-3 .col-4 .f-social ul li a {
  color: #8A7877;
  position: relative;
  z-index: 0;
}
.footer .container .rowf-3 .col-4 .f-social ul li a i {
  color: #8A7877;
}
.footer .container .rowf-3 .col-4 .f-social ul li a i:hover {
  color: white;
}
.footer .container .rowf-3 .col-4 .f-social ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  background-color: rgb(255, 73, 124);
  transition: 0.3s;
  border-radius: 50%;
  z-index: -3;
}
.footer .container .rowf-3 .col-4 .f-social ul li a:hover::after {
  height: 35px;
  width: 35px;
}
.footer .container .rowf-3 .col-4 .f-social ul li a:hover {
  color: white;
}
.footer .container .rowf-3 .col-4 .f-reserved p {
  color: #8A7877;
}
.footer .container .rowf-3 .col-4 .f-cards {
  display: flex;
  justify-content: end;
}
.footer .container .rowf-3 .col-4 .f-cards p {
  font-size: 13.5px;
  color: #8A7877;
  font-weight: 500;
  margin-right: 10px;
}
.footer .container .rowf-3 .col-4 .f-cards img:nth-child(3) {
  margin: 0px 15px;
}

@media screen and (max-width: 600px) {
  .footer .container .row.rowf-1 .col-3:nth-child(n+1) {
    margin-bottom: 20px;
  }
  .footer .container .row.rowf-1 .col-3 .f-part1 .f-letter p:nth-child(1) {
    margin-bottom: 5px;
  }
  .footer .container .row.rowf-2 .col-3.col-sm-6 {
    margin-bottom: 20px;
  }
  .footer .container .rowf-3 .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .footer .container .rowf-3 .col-sm-12:nth-child(2) {
    margin: 20px 0px;
  }
  .footer .container .rowf-3 .col-sm-12 .f-reserved p {
    font-size: 13px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .footer .container .row.rowf-1 .col-3:nth-child(n+1) {
    margin-bottom: 20px;
  }
  .footer .container .row.rowf-1 .col-3 .f-letter p:nth-child(1) {
    margin-bottom: 5px;
  }
  .footer .container .row.rowf-2 .col-3.col-sm-6 {
    margin-bottom: 20px;
  }
  .footer .container .rowf-3 .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .footer .container .rowf-3 .col-sm-12:nth-child(2) {
    margin: 20px 0px;
  }
}/*# sourceMappingURL=footer.css.map */